USE [BroShop]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 31.03.2026 21:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 31.03.2026 21:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[UserId] [int] NOT NULL,
	[ProductVariantId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ProductVariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProducts]    Script Date: 31.03.2026 21:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProducts](
	[ProductVariantId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAtPurchase] [decimal](18, 0) NULL,
 CONSTRAINT [PK_OrderProduct] PRIMARY KEY CLUSTERED 
(
	[ProductVariantId] ASC,
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 31.03.2026 21:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Address] [nvarchar](50) NULL,
	[OrderDate] [datetime] NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[Discount] [decimal](18, 0) NULL,
	[PromoCode] [nvarchar](10) NULL,
	[DeliveryCost] [decimal](18, 0) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 31.03.2026 21:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[BrandId] [int] NULL,
	[ProductTypeId] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTypes]    Script Date: 31.03.2026 21:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[ProductTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[ProductTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 31.03.2026 21:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[ProductVariantId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Size] [nvarchar](10) NOT NULL,
	[StockQuantity] [int] NOT NULL,
 CONSTRAINT [PK_ProductVariants] PRIMARY KEY CLUSTERED 
(
	[ProductVariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 31.03.2026 21:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ProductId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Text] [nvarchar](300) NOT NULL,
	[Rating] [decimal](3, 1) NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 31.03.2026 21:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 31.03.2026 21:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([BrandId], [Name]) VALUES (1, N'CrossRetro')
INSERT [dbo].[Brands] ([BrandId], [Name]) VALUES (2, N'Nike')
INSERT [dbo].[Brands] ([BrandId], [Name]) VALUES (3, N'Addidas')
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
INSERT [dbo].[Carts] ([UserId], [ProductVariantId], [Quantity]) VALUES (2, 3, 1)
INSERT [dbo].[Carts] ([UserId], [ProductVariantId], [Quantity]) VALUES (5, 4, 1)
INSERT [dbo].[Carts] ([UserId], [ProductVariantId], [Quantity]) VALUES (6, 15, 1)
GO
INSERT [dbo].[OrderProducts] ([ProductVariantId], [OrderId], [Quantity], [PriceAtPurchase]) VALUES (1, 5, 1, CAST(7899 AS Decimal(18, 0)))
INSERT [dbo].[OrderProducts] ([ProductVariantId], [OrderId], [Quantity], [PriceAtPurchase]) VALUES (1, 8, 1, CAST(7899 AS Decimal(18, 0)))
INSERT [dbo].[OrderProducts] ([ProductVariantId], [OrderId], [Quantity], [PriceAtPurchase]) VALUES (2, 1, 2, CAST(7899 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [UserId], [Address], [OrderDate], [Amount], [Discount], [PromoCode], [DeliveryCost], [Status]) VALUES (1, 2, N'г. Архангельск, пр-кт Ленинградский 350, кв. 50', CAST(N'2026-03-29T22:54:22.373' AS DateTime), CAST(18597 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), NULL, CAST(500 AS Decimal(18, 0)), N'Отменен')
INSERT [dbo].[Orders] ([OrderId], [UserId], [Address], [OrderDate], [Amount], [Discount], [PromoCode], [DeliveryCost], [Status]) VALUES (2, 2, N'г. Архангельск, ул. Гагарина 23', CAST(N'2026-03-29T23:38:56.933' AS DateTime), CAST(2799 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), NULL, CAST(500 AS Decimal(18, 0)), N'Отправлен')
INSERT [dbo].[Orders] ([OrderId], [UserId], [Address], [OrderDate], [Amount], [Discount], [PromoCode], [DeliveryCost], [Status]) VALUES (3, 2, N'г. Архангельск, ул Папанина 26', CAST(N'2026-03-29T23:43:40.543' AS DateTime), CAST(7899 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), NULL, CAST(500 AS Decimal(18, 0)), N'Отменен')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [Name], [Price], [Description], [ImageUrl], [BrandId], [ProductTypeId]) VALUES (1, N'Олимпийка Addidas', CAST(3599 AS Decimal(18, 0)), N'Стильная беленькая олимпийка, когда хочется выглядить хорошо, но и не замерзнуть', N'https://raw.githubusercontent.com/joilchan/PP_Resources/refs/heads/main/Images/olympianAdidasWhite.jpg', 3, 3)
INSERT [dbo].[Products] ([ProductId], [Name], [Price], [Description], [ImageUrl], [BrandId], [ProductTypeId]) VALUES (2, N'Зипка Balenciaga', CAST(4499 AS Decimal(18, 0)), N'Зипка. Синенькая.', N'https://raw.githubusercontent.com/joilchan/PP_Resources/refs/heads/main/Images/zipBalenciagaBlue.jpg', 4, 3)
INSERT [dbo].[Products] ([ProductId], [Name], [Price], [Description], [ImageUrl], [BrandId], [ProductTypeId]) VALUES (3, N'Nike Cortez Lether SE', CAST(7899 AS Decimal(18, 0)), N'Кроссовки серебренькие', N'https://raw.githubusercontent.com/joilchan/PP_Resources/refs/heads/main/Images/NikeCortezLeatherSE.jpg', 2, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductTypes] ON 

INSERT [dbo].[ProductTypes] ([ProductTypeId], [Name]) VALUES (1, N'Обувь')
INSERT [dbo].[ProductTypes] ([ProductTypeId], [Name]) VALUES (2, N'Аксессуары')
INSERT [dbo].[ProductTypes] ([ProductTypeId], [Name]) VALUES (3, N'Верх')
SET IDENTITY_INSERT [dbo].[ProductTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 

INSERT [dbo].[ProductVariants] ([ProductVariantId], [ProductId], [Size], [StockQuantity]) VALUES (1, 3, N'43', 4)
INSERT [dbo].[ProductVariants] ([ProductVariantId], [ProductId], [Size], [StockQuantity]) VALUES (2, 3, N'44', 5)
INSERT [dbo].[ProductVariants] ([ProductVariantId], [ProductId], [Size], [StockQuantity]) VALUES (3, 3, N'45', 5)
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
INSERT [dbo].[Reviews] ([ProductId], [UserId], [Text], [Rating]) VALUES (2, 2, N'Я влюблен', CAST(5.0 AS Decimal(3, 1)))
INSERT [dbo].[Reviews] ([ProductId], [UserId], [Text], [Rating]) VALUES (3, 5, N'Вау! Просто нет слов, насколько же они удобны и красивы.', CAST(5.0 AS Decimal(3, 1)))
INSERT [dbo].[Reviews] ([ProductId], [UserId], [Text], [Rating]) VALUES (3, 7, N'Дороговато, но удобно. Надеюсь, прослужат долго)', CAST(4.0 AS Decimal(3, 1)))
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (2, N'Пользователь')
INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (3, N'Менеджер')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Login], [Password], [Email], [RoleId]) VALUES (2, N'Лизунов Г К', N'joil', N'joil', N'joil143@mail.ru', 1)
INSERT [dbo].[Users] ([UserId], [FullName], [Login], [Password], [Email], [RoleId]) VALUES (5, N'Богачева А В', N'alex', N'alex', N'alex12@mail.ru', 2)
INSERT [dbo].[Users] ([UserId], [FullName], [Login], [Password], [Email], [RoleId]) VALUES (6, N'Цирульник А И', N'edgy', N'edgy', N'edgy52@mail.ru', 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_ProductVariants] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariants] ([ProductVariantId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_ProductVariants]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Users]
GO
ALTER TABLE [dbo].[OrderProducts]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderProducts] CHECK CONSTRAINT [FK_OrderProduct_Order]
GO
ALTER TABLE [dbo].[OrderProducts]  WITH CHECK ADD  CONSTRAINT [FK_OrderProducts_ProductVariants] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariants] ([ProductVariantId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderProducts] CHECK CONSTRAINT [FK_OrderProducts_ProductVariants]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Brands] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([BrandId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Brands]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductType] FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductTypes] ([ProductTypeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductType]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_Products]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Products]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
